@font-face {
    font-family: 'Proba';
    src: url(../../../fonts/Proba-Pro-Regular.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proba';
    src: url(../../../fonts/Proba-Pro-Bold.otf);
    font-weight: 700;
    font-style: normal;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Proba', sans-serif;
}
$color1: #ce8f5a;
$color2: #616976;
input {
    border-radius: 0px;
}
.main-wrapper {
    width: 100%;
    overflox-x: hidden;
}
.btn {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: $color1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-appearance: none;
    &:hover {
        background-color: #d8a57b;
    }
    &:active {
        background-color: #a66935;
    }
}
.link {
    transition-duration: 0.3s;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        color: #A66935;
    }
}
h2 {
    font-size: 38px;
    letter-spacing: 0.01em;
    line-height: 1.3;
}
h3 {
    font-size: 30px;
    letter-spacing: 0.01em;
}
.toggle-grid {
    display: flex;
    position: absolute;
    width: 60px;
    height: 12px;
    top: 10px;
    right: 0;
    cursor: pointer;
    &__item1 {
        display: flex;
        flex-wrap: wrap;
        width: 26px;
        margin-right: 8px;     
    }
    &__little-box {
        margin: 0 2px 2px 0;
        width: 5px;
        height: 5px;
        background-color: #cedeef;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    &__item2 {
        display: flex;
        justify-content: space-between;
        width: 26px;
    }
    &__big-box {
        width: 12px;
        height: 12px;
        background-color: #cedeef;
    }
    &--active-box {
        background-color: $color1;
    }
}
//item
.t-sec1 {
    margin-top: 160px;
    &__h3 {
        margin-bottom: 25px;
        color: $color2;
    }
    &__price-box {
        margin-bottom: 35px;
    }
    &__new-price {
        margin-right: 20px;
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.01em;
        color: $color1;
    }
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100000000000;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: $color1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: $color1;
}